:root {
  --hero-back-l1: rgb(0, 54, 75);
  --hero-back-l2: rgb(10, 25, 46);
}

.primaryContainer {
  padding: 0%;
  margin: 0%;
}
.heroSection {
  background: linear-gradient(-90deg, var(--hero-back-l1), var(--hero-back-l2));
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  font-family: 'Josefin Sans', sans-serif;
}

.HeroTextSec {
  padding-top: 20px;
  text-align: center;
  color: white;
}
.IamHeroText1 {
  font-size: 1.4rem;
  font-weight: 700;
}
.HireMe {
  font-size: 1.3rem;
  color: aquamarine;
  background: transparent;
  border: 1.5px solid white;
  border-radius: 18px;
  margin-inline: 12px;
  padding: 5px 20px;
  border-inline: 5px;
  -moz-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
}
.HireMe:hover {
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
  background-color: aquamarine;
  color: black;
}
.GetResume {
  font-size: 1.3rem;
  color: aquamarine;
  background: transparent;
  border: 1.5px solid white;
  border-radius: 18px;
  margin-inline: 12px;
  padding: 5px 20px;
  border-inline: 5px;
  -moz-transition: all 0.6 ease-in-out;
  transition: all 0.3 ease-in-out;
}
.GetResume:hover {
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
  background-color: aquamarine;
  color: black;
}
.IconSpan {
  background: rgb(2, 2, 34);
}
.resumeIcons {
  margin-inline: 24px;
  margin-block: 24px;
}

.resumeItems {
  width: 1%;
  transition: all 0.5s ease-in-out;
  padding-inline: 24px;
  padding-block: 24px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: black;
}

.resumeItems:hover {
  width: 100%;
  background: rgb(2, 2, 34);
  color: aliceblue;
}

.selected {
  background: rgb(2, 2, 34);
  width: 100%;
  color: aliceblue;
}
.resumeMainDiv {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(-90deg, var(--hero-back-l1), var(--hero-back-l2));
  color: #fff;
  clip-path: polygon(0 11%, 100% 0, 100% 100%, 0% 100%);
}
.resume2nd {
  margin-top: 45px;
  background: #fff;
  /* box-shadow: 10px 10px 10px 10px; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-inline: auto;
  height: auto;
}

.background__contact {
  background: linear-gradient(-90deg, var(--hero-back-l1), var(--hero-back-l2));
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
}
.contactSecond {
  margin-inline: auto;
  height: 500px;
}

.footer {
  background: linear-gradient(-90deg, var(--hero-back-l1), var(--hero-back-l2));
  clip-path: polygon(0 0, 100% 27%, 100% 100%, 0% 100%);
  height: 70px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

@media all and (max-width: 1088px) {
  .heroSection {
    clip-path: none;
  }
  .IamHeroText1 {
    font-size: 1rem;
    font-weight: 400;
  }
  .HeroTextSec {
    padding-top: 4px;
  }
  .GetResume {
    border: 1px;

    padding: 4px;
    font-size: 12px;
    margin-inline: 2px;
    border-inline: 1px;
    border-radius: 5px;
  }
  .HireMe {
    border: 1px;
    padding: 4px;
    font-size: 12px;
    margin-inline: 2px;
    border-inline: 1px;
    border-radius: 5px;
  }
  .resumeMainDiv {
    clip-path: none;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .resume2nd {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    justify-content: flex-start;
  }
  .resumeItems {
    width: 100%;
    transition: all 0.5s ease-in-out;
    padding-inline: 5px;
    padding-block: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: none;
    margin-top: 0px;
  }
  .selected {
    width: 100%;
  }
  .background__contact {
    clip-path: none;
  }
}

.elementToFadeInAndOut {
  -webkit-animation: fadeinout 1s linear forwards;
  -moz-animation: fadeinout 1s linear forwards;
  -o-animation: fadeinout 1s linear forwards;
  animation: fadeinout 1s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*! loading  component */
.spinner {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
}

.loader {
  border: 5px solid #23b1ec; /* Light grey */
  border-top: 5px solid #f5f6f6; /* Blue */
  border-bottom: 5px solid #f5f6f6; /* Blue */
  border-radius: 1%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
